# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Android build
**/android/app/build/
**/local.properties
**/android/.gradle/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# iOS/macOS generated
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
